extends layout
block content
	form#submitForm(method="POST", action="/upload")
		span Clear existing data?
		br
		input#truncateYes(type="radio", name="truncate", value="true")
		label(for="truncateYes") Yes
		input#truncateNo(type="radio", name="truncate", value="false", checked)
		label(for="truncateNo") No
		br
		br
		input(name="file",type="file", accept=".csv")
		button(type="submit" ) Upload
